@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.carousel-container {
  margin: 0 auto 40px auto;
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  width: 100%;
}

.carousel-content {
  display: flex;
  overflow: hidden;
  width: 100%;
  gap: 30px;

  .portfolio-card {
    flex: 0 0 100%;
    max-width: 100%;
  }

  @media (min-width: 769px) {
    .portfolio-card {
      flex: 0 0 calc((100% / 3) - 20px); // (100% / 3) moins (2 * gap / 3) pour distribuer l'espace
    }
  }
}

.carousel-button {
  background: none;
  border: none;
  color: $color-primary;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 10px;
  transition: color 0.2s ease;
  z-index: 10;

  &:hover {
    color: darken($color-primary, 10%);
  }

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}
