//TYPOGRAPHIE
$font-family-primary: 'Faustina', Arial;
$font-family-heading: 'Fredericka the Great', Georgia;
$font-size-base: 20px;

//COULEURS
$color-primary: #a4c6a2;
$color-secondary: #f6e7e7;
$color-third: #ffd586;
$color-text: #000000;
