@use '../styles/mixins' as *;
@use '../styles/variables' as *;

.error-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    @include heading-2;
    margin-top: 2%;
    margin-bottom: 2%;

    @media (max-width: 768px) {
      margin-top: 17%;
      margin-bottom: 20%;
    }
  }

  p {
    @include body-text;
    margin-bottom: 5%;
    text-align: center;

    @media (max-width: 768px) {
      margin-bottom: 30%;
    }
  }
  .error-page-link {
    @include body-text;
    margin-bottom: 5%;
    text-align: center;
    &:visited {
      color: $color-primary;
    }
  }
}
