@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.contact-section {
  background-color: $color-primary;
  padding: 0.5rem 1rem;
  //margin-left: -5%;
  margin-right: -5%;
}

.contact-form {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__title {
    @include heading-2;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    @media (min-width: 768px) {
      width: 40%;
    }
  }

  &__group {
    width: 100%;
  }

  &__message-group {
    width: 100%;
    @media (min-width: 768px) {
      width: calc(60% - 20px);
    }
  }

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    @include body-text;
  }

  &__icon {
    margin-right: 8px;
    font-size: 1.2rem;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: $font-family-primary;
    background-color: #fbfbf5;
  }

  &__textarea {
    resize: vertical;
  }

  &__submit-button {
    background-color: #fbfbf5;
    @include body-text;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-end;
    margin-top: 10px;
    width: 100%;
    @media (min-width: 768px) {
      width: auto;
      margin-left: auto;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
