.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;

  &__socials {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__flower {
    margin-right: 2rem;
  }
}
